.nonempty-cart-page,
.empty-cart-page {
    flex-grow: 1;
}

/* Empty Cart */

.empty-cart-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart-page > div {
    height: 400px;
    width: 400px;
    background-color: rgb(239, 239, 239);
}

.empty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.75rem;
    box-shadow: 0 0 30px 7px rgb(206, 206, 206);
}

.empty-box > a > button {
    height: 2.25rem;
    width: 12rem;
    font-size: 1.125rem;
    background: rgb(255, 151, 54);
	border: none;
	cursor: pointer;
    transition: .5s;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
}

.empty-box > a > button:hover {
    opacity: 1;
    transition: .5s;
}

/* Non-Empty Cart */

.nonempty-cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.nonempty-cart-page > h1 {
    font-weight: 100;
    font-size: 1.5rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.cart-item-holder {
    background-color: rgb(239, 239, 239);
    box-shadow: 0 0 30px 7px rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    background-color: rgb(239, 239, 239);
    padding: 1.5rem;
    width: 100%;
}

.cart-link > img {
    height: 150px;
    width: 150px;
    background-color: rgb(239, 239, 239);
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 200px;
}

.cart-item-details > h3 {
    font-weight: 400;
    font-size: 1.125rem
}

.remove-item,
.check-out {
    color: white;
    background-color:rgb(255, 151, 54);
    border-radius: 5px;
    transition: 0.5s;
    border: none;
    opacity: 0.8;
}

.remove-item {
    padding: 0.4rem 0;
    font-size: 1.125;
}

.remove-item:hover {
    opacity: 1;
    transition: 0.5s;
}

.total {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:  0 1.5rem 1rem;
}

.total > h1 {
    font-size: 1.125rem;
    border-top: 1px solid black; 
    padding-top: 1rem;
}

.sub-total:nth-child(2) {
    margin-top: .65rem;
}

.sub-total:nth-child(3) {
    border-bottom: 1px solid black;
    padding-bottom: .65rem;
}

.sub-total:nth-child(4) {
    margin-top: .65rem;
}

.sub-total {
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
}

.check-out {
    background-color:rgb(255, 151, 54);
    opacity: 0.8;
    border: none;
    color: white;
    padding: .75rem 0;
    transition: 0.5s;
    padding: .5rem 3rem;
}
.check-out:hover {
    opacity: 1;
    transition: 0.5s;
}

.credit-logo {
    padding-top: 1rem;
    width: 210px;
    align-self: flex-start;
    padding-left: 1.5rem;
}

.light {
    font-weight: 100;
    font-size: 1.125rem;
}

.total-amount {
    font-size: 1.125rem;
}


@media (max-width: 500px) {
    .cart-item {
        flex-direction: column;
        gap: 1rem;
    }

    .nonempty-cart-page > h1 {
        font-size: 1.25rem;
    }

    .cart-item-details {
        text-align: center;
    }

    .total > h1,
    .light,
    .total-amount {
        font-size: 1rem;
    }
}