.nonempty-cart-page,
.empty-cart-page {
    flex-grow: 1;
}

/* Empty Cart */

.empty-cart-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart-page > div {
    height: 500px;
    width: 500px;
    background-color: rgb(239, 239, 239);
}

.empty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.75rem;
    box-shadow: 0 0 30px 10px rgb(206, 206, 206);
}

.empty-box > a > button {
    height: 3rem;
    width: 15rem;
    font-size: 1.75rem;
    background: rgb(255, 151, 54);
	border: none;
	cursor: pointer;
    transition: .5s;
    color: white;
    opacity: 0.7;
}

.empty-box > a > button:hover {
    opacity: 1;
    transition: .5s;
}

/* Non-Empty Cart */

.nonempty-cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.nonempty-cart-page > h1 {
    font-weight: 100;
    font-size: 1.75rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.cart-item-holder {
    background-color: white;
    box-shadow: 0 0 20px 10px rgb(206, 206, 206);

}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    background-color: white;
    padding: 1.5rem;
    width: 100%;
}

.cart-item > img {
    height: 150px;
    width: 150px;
    background-color: rgb(239, 239, 239);
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 25%;
}

.cart-item-details > h3 {
    font-weight: 400;
}

.remove-item {
    border-radius: 5px;
    transition: 0.5s;
}

.remove-item:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
}