a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(243,243,245);
}

.header > h1 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 5px;
}

.header > nav {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

