.home .section1 {
    align-items: flex-end;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1 > img {
    width: 100%;
    object-fit: cover;
    min-height: 720px;
    z-index: 1;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    gap: 4rem;
}

.section2 > h1 {
    font-weight: 200;
    letter-spacing: 2.5px;
    position: relative;
}

.section2 .featured-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    align-content: center;
    justify-items: center;
}

.featured {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 275px;
    width: 275px;
    background-color:rgb(231, 231, 232);
    transition: .5s;
    cursor: pointer;
}

.featured:hover {
    transform: scale(1.08);
    transition: .5s;
}

.featured > img {
    height: 275px;
    width: 275px;
}

.hero-text {
    margin-top: 8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 42rem;
    z-index: 2;
    padding-right: 5rem;
}

.hero-text > h1,
.hero-text > h3 {
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
}

.hero-text > h1 {
    font-size: 3rem;
}

.shop-button {
    height: 3rem;
    width: 15rem;
    font-size: 1.75rem;
    background: white;
	border: none;
	cursor: pointer;
    box-shadow: 5px 5px 0 0 rgb(255, 151, 54);
    transition: .5s;
}

.shop-button:hover {
    color: white;
    background: rgb(255, 151, 54);
    box-shadow: 5px 5px 0 0 white;
    transition: .5s;
}

.home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header > h1 > a,
nav > a {
    position: relative;
}
.header > h1 > a::after,
nav > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    background-color: rgb(255, 151, 54);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.header > h1 > a:hover::after,
nav > a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.25em, 0);
}