button {
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}

.item-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item-nav {
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
}

.item-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.preview-image {
  background-color: rgb(233, 237, 241);
  height: 400px;
  width: 400px;
  position: relative;
}

.preview-details {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 18rem;
  position: relative;
  height: 400px;
  background-color: rgb(253, 253, 253);
  width: 400px;
  align-items: center;
}

.preview-details > h1 {
  font-weight: 100;
  font-size: 1.5rem;
}

.preview-details > h2 {
  font-weight: 100;
  font-size: 1.25rem;
}

.item-holder {
  display: flex;
  box-shadow: 0 0 30px 10px rgb(206, 206, 206);
}

.counter > button {
  height: 30px;
  width: 30px;
  background-color: rgb(255, 136, 0);
  opacity: 0.8;
  border: none;
  font-weight: bold;
  color: white;
}

.counter > button:hover {
  opacity: 1;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(252, 220, 184);
  color: rgb(255, 128, 0);
  height: 30px;
  width: 30px;
}


.add:hover,
.item-nav > a > button:hover {
  background-color:rgb(255, 136, 0);
  transition: .5s;
  opacity: 1;
}

.item-nav > a > button,
.add {
  border-radius: 5px;
  padding: 0.6rem 1rem;
  border: none;
  background-color: rgb(255, 136, 0);
  opacity: 0.8;
  color: white;
}


.wiggle {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}
  @-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
    background-color: black;
  }
  25% {
    -webkit-transform: rotate(-10deg);
    background-color: rgb(255, 136, 0);
  }
  50% {
    -webkit-transform: rotate(20deg);
    color: rgb(255, 136, 0);
  }
  75% {
    -webkit-transform: rotate(-5deg);
    color: rgb(255, 136, 0);
  }
  100% {
    -webkit-transform: rotate(0deg);
    color: black;
  }
  }
  
  @-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
    color: black;
  }
  25% {
    -ms-transform: rotate(-1deg);
    color: rgb(255, 136, 0);
  }
  50% {
    -ms-transform: rotate(1.5deg);
    color: rgb(255, 136, 0);
  }
  75% {
    -ms-transform: rotate(-5deg);
    color: rgb(255, 136, 0);
  }
  100% {
    -ms-transform: rotate(0deg);
    color: black;
  }
  }
  
  @keyframes wiggle {
    0% {
      transform: rotate(10deg);
      color: black;
    }
    25% {
      transform: rotate(-10deg);
      color: rgb(255, 136, 0);
    }
    50% {
      transform: rotate(20deg);
      color: rgb(255, 136, 0);
    }
    75% {
      transform: rotate(-5deg);
      color: rgb(255, 136, 0);
    }
    100% {
      transform: rotate(0deg);
      color: black;
    }
  }

  .color-switch {
    -webkit-animation-name: color-switch;
    -ms-animation-name: color-switch;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
  }
    @-webkit-keyframes color-switch {
    0% {
      background-color: rgb(255, 136, 0);
    }
    25% {
      background-color: rgb(255, 199, 134);
    }
    50% {
      background-color: rgb(255, 199, 134);
    }
    75% {
      background-color: rgb(255, 199, 134);
    }
    100% {
      background-color: rgb(255, 136, 0);
    }
    }
    
    @-ms-keyframes color-switch {
    0% {
      background-color: rgb(255, 136, 0);
    }
    25% {
      background-color: rgb(255, 199, 134);
    }
    50% {
      background-color: rgb(255, 199, 134);
    }
    75% {
      background-color: rgb(255, 199, 134);
    }
    100% {
      background-color: rgb(255, 136, 0);
    }
    }
    
    @keyframes color-switch {
      0% {
        background-color: rgb(255, 136, 0);
      }
      25% {
        background-color: rgb(255, 199, 134);
      }
      50% {
        background-color: rgb(255, 199, 134);
      }
      75% {
        background-color: rgb(255, 199, 134);
      }
      100% {
        background-color: rgb(255, 136, 0);
      }
    }