button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}

h2 {
  font-weight: 100;
}

.item-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item-nav {
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
}

.item-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.preview-image {
  background-color: rgb(233, 237, 241);
  height: 500px;
  width: 500px;
  position: relative;
}

.preview-details {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 18rem;
  position: relative;
  height: 500px;
  background-color: rgb(253, 253, 253);
  width: 500px;
  align-items: center;
}

.item-holder {
  display: flex;
  box-shadow: 0 0 30px 10px rgb(206, 206, 206);
}

.counter > * {
  height: 50px;
  width: 50px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
}