img {
    height: 300px;
    width: 300px;
}

.nav {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
}

.nav > button {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
}

.catalog {
    padding: 1rem 15rem 8rem;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.item {
    width: 275px;
}

.item-image {
    background-color: rgb(233, 237, 241);
    transition: .5s;
    cursor: pointer;
    height: 300px;
    width: 300px;
    transform: scale(1.05)
}

.item-image:hover {
    transform: scale(1);
    transition: .5s;
}

.item-info > h3{
    font-weight: 200;
}

.item-info {
    padding-top: 1rem;
}