img {
    height: 300px;
    width: 300px;
}

.nav {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
}

.category {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.catalog {
    padding: 3rem 15rem 3rem;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
}

h3 {
    position: relative;
}

.active {
    background-color: black;
    color: white;
}

.item {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    gap: .5rem;
}

.item-image {
    background-color: rgb(231, 231, 232);
    transition: .5s;
    cursor: pointer;
    height: 300px;
    width: 300px;
    transform: scale(1.05);
    box-shadow: 0 0 30px 5px rgb(206, 206, 206);
}

.item-image:hover {
    transform: scale(1);
    transition: .5s;
}

.item-info > h3{
    font-weight: 200;
}

.item-info {
    padding-top: 1rem;
}