img {
    height: 300px;
    width: 300px;
}

.nav {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
}

.category {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.catalog {
    padding: 1rem 15rem 8rem;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

h3 {
    position: relative;
}

.shop-content::before {
    content: "";
    position: absolute;
    background-image: url('../images/background.jpeg');
    opacity: 0.5;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.active {
    background-color: black;
    color: white;
}

.item {
    width: 275px;
}

.item-image {
    background-color: rgb(231, 231, 232);
    transition: .5s;
    cursor: pointer;
    height: 300px;
    width: 300px;
    transform: scale(1.05);
}

.item-image:hover {
    transform: scale(1);
    transition: .5s;
}

.item-info > h3{
    font-weight: 200;
}

.item-info {
    padding-top: 1rem;
}